
*{
    margin: 0;
    padding: 0;
}


:root {
    --cor01: #ffcc14;
    --cor02: #1a3e78;
    --cor03: #0F23D9;
    --cor04: #f8951d;
    --cor05: black;
    --cor06: #fff;
    --cor07: #fafafa;
    --cor08: #f1f1f1;
}

body{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    text-align: justify;
    text-decoration: none;
    padding-top: 70px;
}


header {
    display: flex; 
    flex-wrap: wrap;
    background-color:#fafafa;
    position: fixed;
    z-index: 1090;
    width: 100%;  
}

#header_esquerda{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:14px;
    flex: 2 4 auto;
}

.navigation a {
    text-decoration: none;
    color: var(--cor03);
    font-weight: bolder;
    margin: 15px;
    font-size: larger;
}

#divBusca {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #033b85e1;
    width:200px;
    height:32px;
    border-radius: 10px;
    cursor: pointer;
    flex: 0 2 auto;
}

#divBusca > p {
    margin-top: 12px;
    font-weight: bolder;
    color: var(--cor01);
}

.container-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--cor07);
}

.container-produtos > figure{
    margin: 0px;
}

.container-text{
    margin: 40px;
    font-weight: 700;
}


@media screen and (max-width:1180px) {
    
    .container-produtos{
        display: flex;
        flex-direction: column;
    }
}

.container-parceiros{
    background-color:var(--cor08) ;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;

    background-image: url(../DPbox/imgs/Digipaper&Box\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 450px;
}

#produtos>  h2 {
    margin-top:10px;
    text-align: center;
}



section#loc{
    background-image: linear-gradient(#004299d0, #0F23D9);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.unidade{   
    flex: auto;
    margin: 30px;
    border-radius: 10px;
    min-width: 300px;
}

.unidade:hover{
    box-shadow: 0px 0px 10px #000000;
}

/*fim pagina home*/


.py-5{
    display: flex;
    background-color:var(--cor04);
}

footer > p {
   margin: 5px 5px 5px 5px;
}

.nav-item-mb-2:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

.maps{
    border-radius: 10px;
    align-self: stretch;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*inicio pagina quem somos*/

#containere-QS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.accordion{
    margin-right: 30px;
}

#apresentacao{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 40px;
    padding: 30px 50px 10px 50px;
    font-size: 1.1rem;
    background-color: var(--cor02);
    border-radius: 7px;
}

    
.apresentacao-img {
    align-self: center;
    border-radius: 50%;
}

     
.p-dpbox{
    color: var(--cor07);
    margin: 10px;
    padding: 10px;
    text-align: justify;
   align-self: center;
}

@media screen and (max-width:768px) {
    
    #apresentacao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#apresentacao-video{
    margin: 20px 0px 20px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--cor02);
    width: 100%;
    border-radius: 10px;
}

.QS_video{
    max-width: 800px;
    min-width: 300px;
    height: 500px;
    margin: 0px 0px 20px 0px;
}

/*fim pagina quem somos*/

/*inicio hub de produtos*/

#container-serviços{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--cor07);
    margin-top: 40px;
}

#container-serviços > div{
    align-self: stretch;
}

.container-strech{
    background-color: var(--cor02);
    width: 250px;
    height: 650px;
    border-radius: 10px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-alinhamento{
    align-items: flex-start;
}

.container-superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.container-inferior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.escuro{
    margin: 10px;
    background-color: #050a30;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.escuro  >p{
    text-align: justify;
    opacity: 0;
    padding: 15px;
}

.escuro  >p:hover{
    opacity: 1;
}

.intermediario{
    margin: 10px;
    background-color: #1a3e78;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.intermediario  >p{
    text-align: justify;
    opacity: 0;
    padding: 15px;
}

.intermediario  >p:hover{
    opacity: 1;
}

.claro{
    margin: 10px;
    background-color: #8998b3;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.claro  >p{
    opacity: 0;
    padding: 15px;
}

.claro  >p:hover{
    opacity: 1;
}

.icones-produtos{
    border-radius: 50%;
    border: 5px var(--cor08) solid;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.container-text-center{
    margin-top: 40px;
    text-align: center;
}

/*fim hub de produtos*/

/* footer Q.S */
footer{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--cor04);
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.container-redes{
    align-self: flex-end;
}


.nav{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-contatos{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-redes{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.container-redes > a > img{
    margin-top: 7px ;
}



