
*{
    margin: 0;
    padding: 0;
}


:root {
    --cor01: #ffcc14;
    --cor02: #004299d0;
    --cor03: #0F23D9;
    --cor04: #f5a700;
    --cor05: #000000;
    --cor06: #fff;
    --cor07: #484DB2;
    --cor08: #311919;
}

body{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    text-align: justify;
    text-decoration: none;
}


header {
    display: flex; 
    flex-wrap: wrap;
    background-color:var(--cor01);
    /*position: fixed;
    z-index: 1090;
    width: 100%;*/
}

#header_esquerda{
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:14px;
    flex: 2 4 auto;
}

.navigation a {
    text-decoration: none;
    color: var(--cor03);
    font-weight: bolder;
    margin: 15px;
    font-size: larger;
}

.navigation a:hover {
    background-color: var(--cor03);
    border-radius: 5px;
    color: var(--cor01);
}

#divBusca {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #025fd8d0;
    width:300px;
    height:32px;
    border-radius: 10px;
    cursor: pointer;
    flex: 0 2 auto;
}

#btnBusca{
    background-color: #004299d0 ;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    color: #ffd640;
    font-weight: bold;
}

section#divBusca> figure{
    margin-top: 15px;
}

/* fim header */
.img-header{

    width: 100%;
    background-image: url(../DPbox/imgs/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.img-text{
    margin-left: 50px;
    width: 350px;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-text > h1 {
    margin-bottom: 20px;
    color: var(--cor01);
}

.img-text > p{
    color: var(--cor06);
    margin-bottom: 20px;
}

.login{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.login > a {
    text-decoration: none;
    color: #000000;
}

#home{
    margin: 20px 30px 20 30px;
    position: relative;
}

#produtos{
    margin: 40px 0px 40px 0px;
}

.container-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 40px;
}

.container-produtos > figure{
    margin: 0px;
}

.container-produtos > figure > img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container-text{
    padding: 40px;
    margin: 0px;
    background-color: #185099d0;
    color: black;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width:1180px) {
    
    .container-produtos{
        display: flex;
        flex-direction: column;
    }

    .container-produtos > figure > img{
        border-radius: 10px;
    }

    .container-text{
        border-radius: 10px;
    }
}

#produtos> h2 {
    margin-top:10px;
    text-align: center;
}

.carousel {
    display: flex;
    margin-left: 25%;
    width: 50%;
    height: 200px;
    position: relative;
  }
  
  .slides {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .slide img {
    flex: none;   
  }
  
  .navigation_slides {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation_slides label {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }

  input {
    opacity: 0;
  }
  
  #slide1:checked ~ .slides .slide:nth-child(1),
  #slide2:checked ~ .slides .slide:nth-child(2),
  #slide3:checked ~ .slides .slide:nth-child(3),
  #slide4:checked ~ .slides .slide:nth-child(4),
  #slide5:checked ~ .slides .slide:nth-child(5){
    display: block;
  }

section#loc{
    margin-top: 40px;
    margin-bottom: 40px;
    background-image: linear-gradient(#004299d0, #0F23D9);
    border: 1px solid var(--cor07);
    box-shadow: 3px 3px 10px var(--cor03);
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

.unidade{   
    flex: auto;
    margin: 30px;
    border-radius: 10px;
}

.unidade:hover{
    box-shadow: 0px 0px 10px #000000;
}

/*fim pagina home*/


.py-5{
    display: flex;
    background-color:var(--cor01);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer > p {
   margin: 5px 5px 5px 5px;
}

.nav-item-mb-2:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

.maps{
    border-radius: 10px;
    align-self: stretch;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/*inicio pagina quem somos*/

#apresentacao{
    display: flex;
    flex-direction: row;
    margin: 0px 40px 20px 40px;
    padding: 10px 50px 10px 50px;
    font-size: 1.1rem;
    background-color: var(--cor02);
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--cor02);
}

    
.apresentacao-img {
    align-self: center;
    border-radius: 50%;
    border: 2px solid var(--cor06);
}

     
.p-dpbox{
    color: var(--cor05);
    margin: 10px;
    padding: 10px;
    text-align: justify;
    align-self: flex-end;
}

@media screen and (max-width:768px) {
    
    #apresentacao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

#apresentacao-video{
    margin: 20px 0px 20px 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--cor02);
    width: 100%;
    border-radius: 10px;
}

.QS_video{
    max-width: 800px;
    min-width: 300px;
    height: 500px;
    margin: 0px 0px 20px 0px;
}


#apresentacao-text{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 20px 40px;
}


#apresentacao-text > div h1{
    text-align: center;
    font-size: 1.3em;
    background-color: var(--cor01);
    border-top-left-radius: 10px ;
    border-top-right-radius: 10xp;
}

#apresentacao-text > div {
    color:var(--cor05);
    font-weight: 400;
    text-align: center;
    background-color: var(--cor02);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
}

#apresentacao-text > div{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*fim pagina quem somos*/

/*inicio pagina serviços*/
#box-produtos{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.servicos{
    display: block;
    margin-bottom: 15px;
    border: solid 1px black;
    text-decoration: none;
    background-color: var(--cor03);
    color: var(--cor01);
    font-weight: bold;
    border-radius: 10px;
    display: flex;
}

#box-iframe {
    align-items: center;
    
    display: flex;
}

.img-servico{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
}

.container-p{
    margin-top: 15px;
}


/*fim pagina serviços*/

