{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPbox</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}"> 
     <link rel="stylesheet" href="../static/global/css/style.css">
    <link rel="shortcut icon" href="../DPbox/imgs/62941cardfilebox_109271.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <section id="header_esquerda">
      <img id="logo" src="../imgs/dpbox-logo1.png" alt="logo dpbox" width="130" height="80">
      <nav class="navigation">
          <a href="../templates/index.html">home</a>
          <a href="../base/Quem-somos.html"> Quem somos</a>
      </nav>
    </section>

    <section id="divBusca">
      <a href="../base/login.html">
        <p> Área restrita</p>
      </a>
    </section>

</header>

<main>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../imgs/1.png" class="d-block w-100" alt="slide 1">
      </div>
      <div class="carousel-item">
        <img src="../imgs/2.png" class="d-block w-100" alt="slide 2">
      </div>
      <div class="carousel-item">
        <img src="../imgs/3.png" class="d-block w-100" alt="slide 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <section class="container-produtos">
        <section class="iframe-container">
          <iframe src="https://www.youtube.com/embed/Yj1PVApIgW8?si=oS41sEgrzsaBXEQy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <div class="container-text">
          <p>
            A terceirização do armazenamento físico de documentos é uma solução eficaz. De acordo
            com um estudo da PwC, empresas que terceirizam o armazenamento de documentos podem
            reduzir seus custos operacionais em até 25%. Nosso serviço de armazenamento físico oferece
            um ambiente seguro e controlado, equipado com tecnologia de ponta para garantir a
            integridade e a confidencialidade dos seus documentos.
          </p>
        </div>
      </section>

    <h2 class="titulos"> Nossas soluções</h2>

    <section id="container-serviços"> <!-- inicio hub de produtos-->
      

        <section class="container-strech">
          <h4>hub de produtos &#10095;</h4>
        </section>

        <section class="container-alinhamento">
          <section class="container-superior">
              <div class="escuro"> 
                <figure><img class="icones-produtos" src="../imgs/armazenamento.png" alt="icone represantando armazenamento fisico"></figure> 
                <h5 class="container-text-center"> armazenamento físico</h5>  
                <p class="p-hub">Protegemos seus documentos com segurança máxima.</p>
              </div>

              <div class="intermediario"> 
                <figure> <img class="icones-produtos" src="../imgs/digitalização.png" alt="icone digitalização de documentos"></figure> 
                <h5 class="container-text-center"> Digitalização de Documentos</h5>
                <p class="p-hub"> Transformamos seus arquivos físicos em digitais. </p>
              </div>

              <div class="claro"> 
                <figure> <img class="icones-produtos" src="../imgs/indexação.png" alt="icone indexação"></figure> 
                <h5 class="container-text-center">Indexação</h5>
                <p class="p-hub"> Criação de índices ou metadados associados 
                a documentos para facilitar sua organização, recuperação e gerenciamento eficaz. </p>
              </div>
          </section>

          <section class="container-inferior">
            <div class="claro"> 
              <figure> <img class="icones-produtos" src="../imgs/GED.png" alt="icone ged"></figure> 
              <h5 class="container-text-center">GED</h5> 
              <p class="p-hub"> Soluções inteligentes para organizar, acessar e gerenciar seus documentos digitalizados.</p>
            </div>

            <div class="intermediario"> 
              <figure><img class="icones-produtos" src="../imgs/analise.png" alt="icone analise de dados"></figure>
              <h5 class="container-text-center"> Análise de Dados</h5>
              <p class="p-hub"> Transforme seus documentos em insights valiosos para a tomada de decisão.</p>
            </div>
            <div class="escuro"> 
              <figure><img class="icones-produtos" src="../imgs/certtificação digittal.png" alt="icone certificação digital"></figure>
              <h5 class="container-text-center"> Certificação Digital </h5>
              <p class="p-hub"> Garantia de autenticidade, integridade e segurança para suas transações digitais.</p>
            </div>
          </section>
        </section>
    </section> <!-- final hub de serviço  -->
 

  
      <section class="container-parceiros"> <!-- inicio section parceiros-->
        <!-- img das logos dos parceiros no css -->
      </section> <!-- fim section parceiros-->



    <!--localização-->
    <h2 class="titulos"> Nossas instalações</h2>
      
    <div class="container">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/WG4_Du0zYk0?si=iUfyFOsnashXRjHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="images-right">
          <img src="../../imgs/interior1.jpg" alt="Imagem 4">
          <img src="../../imgs/interior2.jpg" alt="Imagem 5">
      </div>
      <div class="images-bottom">
          <img src="../../imgs/frente dpbox.jpeg" alt="Imagem 1">
          <img src="../../imgs/interior3.jpg" alt="Imagem 2">
          <img src="../../imgs/latreal dpbox.jpeg" alt="Imagem 3">
      </div>
    </div>

    <!--fim localização-->

</main>

<footer class="py-5">
<div class="container">
    <div class="row">
      <div style="margin: 0;" class="col-6 col-md-2 mb-3">
        <h5>NAV</h5>
        <ul class="nav flex-column">
          <li class="nav-item-mb-2"><a href="../DPbox/index.html" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item-mb-2"><a href="../DPbox/Quem somos.html" class="nav-link p-0 text-body-secondary">Quem somos</a></li>
          <li class="nav-item-mb-2"><a href="../DPbox/serviços.html" class="nav-link p-0 text-body-secondary">Serviçõs oferecidos</a></li>
        </ul>
      </div>

      <div  style="margin: 0;" class="col-6 col-md-2 mb-3">
        <h5>Informações</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><p> 📍 Rua Floriano Peixoto, nº 1107 - Nova Imperatriz, Imperatriz 65.907-200</p></li>
          <li class="nav-item mb-2">☎️ (99)3015-0446 ou (99)98431-8251</li>
        </ul>
      </div>
      
      <div style="margin: 0;" class="col-md-5 offset-md-1 mb-3">
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.371657088217!2d-47.497162364535484!
        3d-5.51172384263385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92c55e35ce03e6ef%3A0xc12ce2acb091910d!2sR.
        %20Floriano%20Peixoto%2C%201107%20-%20Nova%20Imperatriz%2C%20Imperatriz%20-%20MA%2C%2065907-200!5e0!3m2!1spt-BR!
        2sbr!4v1726183611670!5m2!1spt-BR!2sbr" width="400" height="300" style="border: 2;" allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
      </div>
    </div>

    <hr>
      
      <div class="list-unstyled-d-flex">
        <a class="link-body-emphasis" href="https://www.instagram.com/dpboxoficial/" target="_blank"> <img src="../imgs/150898146_10462345.png" alt="logo instagram" width="80" height="80"> </a>
        <a class="link-body-emphasis" href="https://www.facebook.com/dpboxoficial" target="_blank"><img src="../imgs/150897973_10462343.png" alt="logo facebook" width="80" height="80"></a>
      </div>
  </div>
</footer>
</body>
</html>