{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/login.css'%}">
    <link rel="shortcut icon" href="{% static 'global/imgs/62941cardfilebox_109271.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>login</title>
    <style>
        #bodyLogin{
            background-image: url(../static/global/imgs/fundo-site-dpbox.png);
        }

        .overlay {
            background-image: url(../static/global/imgs/2-fundo-login.png);
        }
    </style>
</head>
<body id="bodyLogin">
    <!-- login para mobile -->
            <div id="formulario">
                <img class="logoLogin" src="{% static 'global/imgs/dpbox-logo2.png'%}" alt="dpboxlogo" width="310px" height="200px">
                
                <div id="expandir" onclick="toggleBotao()" class="forget-password"> 
                    <img src="{%static 'global/imgs/arrow-right.svg' %}" alt="seta direita" width="24" height="24"> 
                    <a class="link-login" href="#"> Esqueceu sua senha clique aqui</a> 
                </div>

                <div id="expandir" onclick="toggleBotao()" class="login-responsive">
                    <img src="{%static 'global/imgs/arrow-right.svg' %}" alt="seta direita" width="24" height="24"> 
                    <a class="link-login" href="{% url 'cadastro' %}">Já tem um cadastro? clique aqui para logar</a> 
                </div>

                    <form class="form-responsive" action="" method="POST">
                        {% csrf_token %}
                        <div class="campo">
                            <i class="material-icons">person</i>
                            <input class="input-login"   type="name" name="nome" id="inome" placeholder="Seu nome" >
                        </div>
                        <div class="campo">
                            <i class="material-icons">mail</i>
                            <input class="input-login"  type="email" name="gmail" id="ilogin" placeholder="Seu gmail" autocomplete="email" required minlength="15">
                        </div>
                        <div class="campo">
                            <i class="material-icons">vpn_key</i>
                            <input class="input-login"   type="password" name="senha" id="isenha" placeholder="Sua senha"
                            autocomplete="current-password" >
                        </div>
                        <input  class="cadastrar" type="submit" value="entrar">
                    </form>
            </div>
    <!-- login para mobile -->        
    <div class="container" id="container">

        <div class="form-container register-container">
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
          <form action="" method="POST">
            {% csrf_token %}
            <h1>Registre-se aqui.</h1>
            <input class="input-login"   type="name" name="nome" id="inome" placeholder="Seu nome" >
            <input class="input-login"  type="email" name="gmail" id="ilogin" placeholder="Seu Email" autocomplete="email" required minlength="10">
            <input class="input-login"   type="password" name="senha" id="isenha" placeholder="Sua senha" autocomplete="current-password" >
            <input  class="cadastrar" type="submit" value="entrar">
            <div class="social-container">
                <a href="#" class="social"><img src="{% static 'global/imgs/facebook.svg' %}" alt="facebook dpbox"></a>
                <a href="#" class="social"><img src="{% static 'global/imgs/instagram.svg' %}" alt="instagram dpbox"></a>
            </div>
          </form>
        </div>
    
        <div class="form-container login-container">
           
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        
            <form method="POST" action="{% url login_telasMaiores %}"> 
                {% csrf_token %}
                <h1>Faça seu login.</h1>
                <input type="email" placeholder="Email" name="gmail" autocomplete="email" required minlength="10">
                <input type="password" placeholder="Password" name="senha" required>
                <input class="cadastrar"  type="submit" value="Logar">
                <div class="pass-link">
                    <a href="#">Esqueuceu sua senha</a>
                </div>
                <div class="social-container">
                <a href="#" class="social"><img src="{% static 'global/imgs/facebook.svg' %}" alt="facebook dpbox"></a>
                <a href="#" class="social"><img src="{% static 'global/imgs/instagram.svg' %}" alt="instagram dpbox"></a>
                </div>
            </form>
        </div>
    
        <div class="overlay-container">
          <div class="overlay">
                <div class="overlay-panel overlay-left">
                <h1 class="title">Bem-vindo<br> Novamente</h1>
                <p> Obrigado pela sua preferencia  </p>
                <button class="ghost" id="login">Login
                    
                    <img class="register" src="{% static 'global/imgs/arrow-right.svg'%}" alt="seta esquerda">
                </button>
                </div>

                <div class="overlay-panel overlay-right">
                <h1 class="title">Começe sua jornada <br> com a dpbox</h1>
                <p>Aproveite as vantagens da digitalização terceirizada.</p>
                <button class="ghost" id="register">Cadastro
                    <img class="login" src="{% static 'global/imgs/arrow-left.svg' %}" alt="seta direta">
                </button>
                </div>
          </div>
        </div>
    
    </div>
      <script src="{% static 'global/js/double-slide.js' %}"></script>
      <script src="{% static 'global/js/expansaobutton.js' %}"></script>
</body>
</html>