
*{
    margin: 0%;
    padding: 0%;
}


:root {
    --cor01: #ffcc14;
    --cor02: #1a3e78;
    --cor03: #0F23D9;
    --cor04: #f8951d;
    --cor05: black;
    --cor06: #fff;
    --cor07: #fafafa;
    --cor08: #f1f1f1;
    --cor09: white;
}

body{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    text-align: justify;
    text-decoration: none;
    padding-top: 70px;
}


.container-produtos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--cor07);
}

.container-text{
    margin: 40px;
    font-weight: 700;
}

.iframe-container {
    height: 100%;
    margin: 40px;
    flex: 1 1 80%; /* O vídeo ocupa metade do container */
}

.iframe-container iframe {
    width: 600px;
    height: 300px;
}



@media screen and (max-width:671px) {
    
    main{
        padding-top: 140px;
    }

    .iframe-container > iframe{
        max-width: 350px;
    }
}


@media screen and (max-width:1180px) {
    
    .container-produtos{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 1400px) {
    .container-parceiros {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 450px;
    }
}

.container-parceiros{
    background-color:var(--cor08) ;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../imgs/Digipaper&Box.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 450px;
}

#produtos>  h2 {
    margin-top:10px;
    text-align: center;
}

/*fim pagina home*/

/*inicio pagina quem somos*/

#container-QS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1200px) {
    
    #container-QS {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
    }

    .accordion{
        align-self: center !important;
    }
}

.accordion{
    margin: 20px;
}

#apresentacao{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    padding: 30px 40px 10px 40px;
    font-size: 1.1rem;
    background-color: var(--cor02);
    border-radius: 7px;
}

    
.apresentacao-img {
    align-self: center;
    border-radius: 50%;
}

     
.p-dpbox{
    color: var(--cor07);
    padding: 10px;
    text-align: justify;
   align-self: center;
}

@media screen and (max-width:768px) {
    
    #apresentacao {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}


.accordion-body{
    background-color: var(--cor08);
}


/*fim pagina quem somos*/

/*inicio hub de produtos*/

#container-serviços{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--cor07);
    margin-top: 40px;
}

#container-serviços > div{
    align-self: stretch;
}

.container-strech{
    background-color: var(--cor02);
    width: 230px;
    height: 650px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.container-alinhamento{
    align-items: flex-start;
    flex: 0 1 auto;
}

.container-superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    flex: 0 1 auto;
}

.container-inferior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.escuro{
    margin: 10px;
    background-color: #050a30;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    flex: 0 2 auto;
}

.intermediario{
    margin: 10px;
    background-color: #1a3e78;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    flex: 0 2 auto;
}

.claro{
    margin: 10px;
    background-color: #8998b3;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    flex: 0 2 auto;
}

.icones-produtos{
    border-radius: 50%;
    border: 5px var(--cor08) solid;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    flex: 0 2 auto;
}

.container-text-center{
    margin-top: 40px;
    text-align: center;
}

.p-hub{
    text-align: center;
    padding: 15px;
}


@media screen and (max-width:965px) {
    #container-serviços{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--cor07);
        margin-top: 40px;
    }

    .container-strech{
        background-color: var(--cor02);
        width: 90%;
        height: 150px;
        margin-bottom: 35px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
    }
}

@media screen and (max-width:735px) {
    #container-serviços{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--cor07);
        margin-top: 40px;
    }

    .container-strech{
        background-color: var(--cor02);
        width: 230px;
        height: 300px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 auto;
    }

    .container-superior{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
        flex: 0 1 auto;
    }
    
    .container-inferior{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 1 auto;
    }
}

/*fim hub de produtos*/


/* nossas instalações */

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1 1 80%; /* O vídeo ocupa metade do container */
    padding-right: 20px;
}

.video-container iframe {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 32%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.images-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 20%; /* A coluna de imagens à direita ocupa 20% */
}

.images-right img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.images-bottom {
    display: flex;
    justify-content: space-around;
    flex: 1 1 50%; /* As imagens na parte inferior ocupam toda a largura */
}

.images-bottom img {
    width: 32%; /* Para duas imagens com espaçamento */
    height: auto;
}

.titulos{
    margin-top: 20px;
    text-align: center;
    color: var(--cor02);
}

p.hub{
    padding: 10px;
}


/* login */

#bodyLogin{
    background-image: url(../imgs/fundo-site-dpbox.png); /*trocar img por é de um banco de imagens */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#mainLogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#formulario{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor08);
    width: 350px;
    height: 450px;
    border-radius: 10px;
    padding-bottom: 40px;
}

.campo{
    border: 1px solid var(--cor02);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
}

.input-login{
    background-color: transparent;
    border: none;
    outline: none;
}

.cadastrar{
    background-color: var(--cor02);
    border-radius: 10px;
    width: 82%;
    height: 40px;
    margin-left: 20px;
    color: var(--cor08);
    border: none;
    outline: none;
}

.logoLogin{
    margin-top: 20px;
} 

/* lista cadastros */

#body-usuarios {
    background-color: #0d1c35 !important;
}

#lista-usuarios {
    width: 100%;
    overflow-x: auto; /* Adiciona barra de rolagem horizontal */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 150px;
    table-layout: auto; /* Permite que as colunas se ajustem automaticamente */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid var(--cor04);
    border-left: none;
    border-right: none;
    border-top: none;
    word-wrap: break-word; /* Quebra o conteúdo de célula longo */
}

th {
    background-color: #16315c;
    color: var(--cor08);
    font-weight: bolder;
}

tr {
    background-color: #203f70;
    color: var(--cor08);
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: var(--cor02);
}

tr:hover {
    background-color: #183463 !important;
}

