{% load static %} 
<footer >
    
    <div class="container-contato">
      <h5>Informações</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><p> 📍 Rua Floriano Peixoto, nº 1107 - Nova Imperatriz, Imperatriz 65.907-200</p></li>
        <li class="nav-item mb-2">☎️ (99)3015-0446 ou (99)98431-8251</li>
      </ul>
    </div>
          
    <div class="container-redes">
      <h5>Redes sociais</h5>
      <div class="logos">
        <a class="link-body-emphasis" href="https://www.instagram.com/dpboxoficial/" target="_blank"> <img src="{% static 'global/imgs/150898146_10462345.png' %}" alt="logo instagram" width="80" height="80"> </a>
        <a class="link-body-emphasis" href="https://www.facebook.com/dpboxoficial?mibextid=ZbWKwL" target="_blank"><img src="{% static 'global/imgs/150897973_10462343.png' %}" alt="logo facebook" width="80" height="80"></a>
      </div>
    </div>
</footer>